@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: linear-gradient(to right, rgba(24, 106, 58, 1) 52%, rgba(48, 179, 74, 1) 53%, rgba(48, 179, 74, 1) 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    /* max-width: 1200px; */
}
.bookList{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden; /* Empêche le débordement des éléments enfants */
    transition: transform 0.3s ease-in-out; /* Ajoute une transition fluide pour un effet d'animation */
}

.card:hover {
    transform: scale(1.05); /* Zoom sur la carte au survol */
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.card-img-top {
    width: 65px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#book-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; /* Ajoute un espace en haut de la liste de livres */
}

.footer {
    margin-bottom: 20px;
}

/* Ajustements Bootstrap */
.container-fluid {
    padding: 0;
}

.card {
    max-width: none; /* Pour que la carte prenne toute la largeur disponible */
}

.row {
    display: flex;
    justify-content: center;
}

.col-sm-12 {
    flex: 0 0 auto;
}

@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 100%;
    }
}
